*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 5px;
}

 
body::-webkit-scrollbar-thumb {
  background-color: rgb(38, 170, 187);
  border-radius: 5px;
}

body{
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  
